/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
}

/* Estilos específicos para a página Sobre Mim */
.about-me {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.about-me p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.botaoport{
color: white;


}
